body {
    background-image: url("https://images3.alphacoders.com/855/thumb-1920-85585.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#txt-area {
    background-color: bisque;
    display: none;
}

#score-area {
    background-color: bisque;
    display: none;
}


.answer {
    margin: 50px 0;
  
}

